# Dependencies
node_modules/

# Build output
build/

# Vite
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp